@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 0rem;
}

.animated_background {
    min-height: 100vh;
    background: #ddd;
    background-size: 3000%;
    background-image: linear-gradient(135deg, #34d399, #0ea5e9, #8b5cf6, #d946ef, #8b5cf6, #0ea5e9, #34d399);
    animation: bg-animation 30s infinite;
}

@keyframes bg-animation {
0% {background-position: left}
50% {background-position: right}
100% {background-position: left}
}

::selection {
color: #fb7185;
}