@tailwind base;
@tailwind components;
@tailwind utilities;


.animated_background {
    min-height: 100vh;
    color: #333;
    background: #ddd;
    background-size: 700%;
    background-image: linear-gradient(135deg, #a7f3d0, #bae6fd, #c7d2fe, #ddd6fe, #c7d2fe, #bae6fd, #a7f3d0);
    animation: bg-animation 20s infinite;
}

@keyframes bg-animation {
0% {background-position: left}
50% {background-position: right}
100% {background-position: left}
}
